/* The main stylesheet for Copper Poppy
an HTML5 canvas game template */

/* Recolour and center the game's canvas */
#game {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid grey;
}
